<!-- MENÚ PARA ENCABEZADO NARANJA-->
<div class="miheadernaranja">
    <i class="fas fa-store text-white Inicio mx-1 fa-lg"></i>
    <input class="botonAzul" type="button" value="PYMES" id="btnInicio">
    <i class="fas fa-user-circle Inicio text-white mx-1 fa-lg"></i>
    <input class="botonAzul" type="button" value="COMPRADOR" id="btnForm">
</div>
<!-- MENÚ PARA ENCABEZADO AZUL-->
<nav class="navbar navbar-expand-lg miheaderazul">
    <div class="container-fluid">
        <img src="/img/logo.png" alt="Logo Justo Aquí" title="Justo Aquí" width="100px">
        <!-- MENÚ HAMBURGUESA PARA ENCABEZADO -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- MENÚ PARA ENCABEZADO -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">QUIENES SOMOS</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">COMPRA POR CATEGORÍA</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">SALE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTÁCTANOS</a>
                </li>
            </ul>
        </div>
    </div>
</nav>