// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
    margin: 0px;
    padding: 0px;
    align-content: center;
    box-sizing: border-box;
}

.simple_form{
    width: 100%;
    padding: 20px;

}
.newproducts{
    width: 90%;
    margin: auto;
    background-color: #2c3e50;
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.miindex{
    width: 90%;
    margin: auto;
    background-color: #2c3e50;
    text-align: center;
    padding: 20px;
}

.miindex h1{
    color: white;
}

.micardnew{
    width: 100%;
    position: relative;
    display: flex;
    
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    margin: auto;
     
}

.micardindex{
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 10px;
}

.mifotonew{
    
    height: auto;
    background: rgb(255, 64, 0); 

}

.miformularionew{
    width: 70%;
    background: #2c3e50; 

}

.actions{
    text-align: center;
    
}

.actions input.btn{
    color: white;
    background-color: rgb(255, 64, 0);
}

.botonNaranja{
    width: 150px;
    background-color: rgb(255, 64, 0);
    color: #ffff;
    border-color: #ffff;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    margin: 20px 20px;

}

a :hover{
    color: red;
}

a :visited{
    color: white;
}